pandas
numpy
data
pandas
urllib
urlencode
urlopen
time
datetime
openpyxl
requests
nltk
sklearn
sklearn.feature_extraction.text
TfidfVectorizer
sklearn.ensemble
RandomForestClassifier
sklearn.metrics
accuracy_score
sklearn.model_selection
train_test_split
nltk.corpus
stopwords
nltk.tokenize
word_tokenize
nltk.stem
WordNetLemmatizer
functools
lru_cache
pymorphy2
sklearn.linear_model
LogisticRegression
sklearn.tree
DecisionTreeClassifier
sklearn.metrics
precision_score
sklearn.metrics
recall_score
sklearn.ensemble
RandomForestClassifier
GradientBoostingClassifier
sklearn.svm
SVC
sklearn.naive_bayes
GaussianNB
catboost
sys
matplotlib.pyplot
seaborn
tqdm
sklearn.linear_model
sklearn.model_selection
sklearn.ensemble
GradientBoostingRegressor
RandomForestRegressor
sklearn.preprocessing
MinMaxScaler
xgboost
keras.models
Sequential
keras.layers
LSTM
Dense
autogluon.tabular
TabularDataset
TabularPredictor
sklearn.metrics
mean_squared_error