pandas
numpy
data
pandas
datetime
openpyxl
requests
nltk
scikit-learn
stopwords
lru_cache
pymorphy2
catboost
matplotlib
seaborn
tqdm
MinMaxScaler
xgboost
keras.models
Sequential
keras.layers
LSTM
Dense
autogluon.tabular
TabularDataset
TabularPredictor
mean_squared_error