pandas
numpy
data
pandas
datetime
openpyxl
requests
nltk
scikit-learn
stopwords
lru_cache
pymorphy2
catboost
matplotlib
seaborn
tqdm
xgboost
keras
Sequential
LSTM
autogluon.tabular
tpulse
httpx
pywin32_postinstall